[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/nwfsc-math-bio/pycax/blob/main/notebooks/usage_guide.ipynb)

# pycax Example Usage
pycax parent repo: [github.com/nwfsc-math-bio/pycax](https://github.com/nwfsc-math-bio/pycax). This Notebook contains examples of modules inside pycax package. pycax is the Python client for the CAX API.

## Installing pycax

In [1]:
try:
  import pycax
except:
  !pip install -q git+https://github.com/nwfsc-math-bio/pycax.git

In [2]:
!pip install -q git+https://github.com/nwfsc-math-bio/pycax.git

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: python3.9 -m pip install --upgrade pip

## datasets module

List the available tables

In [3]:
import pandas as pd
import pycax
res = pycax.datasets.getdf()

In [4]:
res[['name', 'id']].head()

                           name                                    id
0              SuperPopulations  009A08FE-6479-44FC-9B6F-01C55E2C8BA3
1                   XPortCA_PNI  0474CE96-789B-4E16-8FD5-05C431E5034A
2                   EscData4GIS  0603946B-84FF-450D-8F3E-C2513517126D
3  XPortCA_PresmoltAbundance_01  086448AE-4F1F-4FE1-B794-6CC4FB0C451F
4                     Reference  1FB86FDA-2DC0-4FCD-9B7F-E37C0C57114F

## hli module

Get the HLI (high level indicator) table. By default the xport table (same one used in the CAX web app) is returned. The xport table is a subset of the full table. The fargs argument is used to subset the returned information based on column names. Here column popid with value equal 7 is returned. The number of rows returned in 1000 by default and can be changed with `qargs={'limit': 10000}`, for example.

In [8]:
res = pycax.hli.getdf('NOSA', fargs={'popid': 7})
res.head()

,nosaijupperlimit,tsaej,age8propupperlimit,metriclocation,popfitnotes,species,datasetversion,cbfwapopname,nmfs_popid,age9proplowerlimit,...,age11plusprop,age11plusproplowerlimit,agency,commonpopname,esudps,age6prop,tsaejupperlimit,age6proplowerlimit,hli_id,esapopname
0,,134.0,,,,Chinook salmon,2023/04/21 10:42,Catherine Creek Spring Chinook,62,,...,,,ODFW,Catherine Creek spring Chinook,Salmon Chinook (Snake River spring/summer-run ...,0.0,,,5,"Salmon, Chinook (Snake River spring/summer-run..."
1,,1112.0,,,,Chinook salmon,2023/04/21 10:42,Catherine Creek Spring Chinook,62,,...,,,ODFW,Catherine Creek spring Chinook,Salmon Chinook (Snake River spring/summer-run ...,0.0,,,5,"Salmon, Chinook (Snake River spring/summer-run..."
2,,987.0,,,,Chinook salmon,2023/04/21 10:42,Catherine Creek Spring Chinook,62,,...,,,ODFW,Catherine Creek spring Chinook,Salmon Chinook (Snake River spring/summer-run ...,0.0,,,5,"Salmon, Chinook (Snake River spring/summer-run..."
3,694.0,,,npt-cdms.nezperce.org,25; Percent population coverage estimated from...,Chinook salmon,2023/04/21 10:42,,62,,...,,,NPT,GRCAT,Salmon Chinook (Snake River spring/summer-run ...,,,,3,"Salmon, Chinook (Snake River spring/summer-run..."
4,,72.0,,,,Chinook salmon,2023/04/21 10:42,Catherine Creek Spring Chinook,62,,...,,,ODFW,Catherine Creek spring Chinook,Salmon Chinook (Snake River spring/summer-run ...,0.0,,,5,"Salmon, Chinook (Snake River spring/summer-run..."

## tables module

Get a table using table name.

In [5]:
res = pycax.tables.getdf('EscData', qargs= {'limit': 3})
res

,ascode,countpermile,repeatspawners,asnid,agencyid,countcidisttype,countciuplim,compilerrecordid,begindate,id,...,calcmethid,countvalue,trendid,timessurveyed,asmethod,assource,countcilowlim,milessurveyed,countcilevel,nullflag
0,98,,,98,15,,,,"November, 01 1979 00:00:00",00000A70-075A-4AE1-857D-42BC1048939C,...,314,1024.0,54227,,98,,,,,No
1,98,0.0,,98,10,,,,"September, 03 2002 00:00:00",0000219F-A662-4A16-8F46-ED171C56990A,...,304,0.0,44227,1,98,,,2.982007,,No
2,98,,,98,15,,,,"March, 01 1973 00:00:00",0000578E-E906-41CA-A778-7EC7A8C06DDA,...,98,,53571,,98,,,,,Yes